<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Pokenea</title>
</head>
<body>
    <h1>Detalles del Pokenea Aleatorio</h1>
    <p>ID: <%= pokenea.id %></p>
    <p>Nombre: <%= pokenea.nombre %></p>
    <p>Altura: <%= pokenea.altura %></p>
    <p>Habilidad: <%= pokenea.habilidad %></p>
    <p><img src="<%= pokenea.imagen %>" alt="<%= pokenea.nombre %>"></p>
    <p>Frase Filosófica: <%= pokenea.fraseFilosofica %></p>
</body>
</html>
